<template>
  <div class="row user-stat">
    <div class="col-12">
      <h5>
        <span>Title:</span>
        {{ stats.title}}
      </h5>
      <div class="text-center">
        <q-img :src="titleImg" class />
      </div>
      <q-linear-progress
        size="25px"
        track-color="accent"
        rounded
        :value="progressTitle"
        color="primary"
      >
        <div class="absolute-full flex flex-center">
          <q-badge color="dark" text-color="primary" :label="progressTitleLabel" />
        </div>
      </q-linear-progress>
      <h5>
        <span>Total completed tasks:</span>
        {{stats.totalNumTasksCompleted}}
      </h5>
      <h5>
        <span>Total coins earned:</span>
        {{ stats.totalScore }}
      </h5>
      <div class="coin-img-wrapp">
        <q-img class="coin-image" src="statics/coin-icon.png" />
      </div>
    </div>
  </div>
</template>
<script>
import { colors } from "quasar";
export default {
  props: ["stats"],
  data() {
    return {
      titleImgURLs: {
        ronin: "statics/ronin-title.jpg",
        mugen: "statics/mugen-title.jpg",
        samurai: "statics/samurai-title.jpg"
      }
    };
  },
  computed: {
    primaryColor() {
      return colors.getBrand("primary");
    },
    progressTitle() {
      if (!this.stats) return 0.0;
      if (this.stats.totalScore < 5000) {
        return this.stats.totalScore / 5000;
      } else if (this.stats.totalScore - 5000 < 5000) {
        return (this.stats.totalScore - 5000) / 10000;
      } else {
        return 1;
      }
    },
    progressTitleLabel() {
      if (!this.stats) return "0.00%";
      return (100 - this.progressTitle * 100).toFixed(2) + "% until next level";
    },
    titleImg() {
      switch (this.stats.title) {
        case "Ronin":
          return this.titleImgURLs.ronin;
        case "Samurai":
          return this.titleImgURLs.samurai;
        case "Mugen":
          return this.titleImgURLs.mugen;
      }
    }
  }
};
</script>
<style lang="scss">
div.user-stat {
  display: flex;
  border-right: 1px solid $accent;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $accent;
  font-size: 5px;
  .q-img {
    border-radius: 6px;
    margin: 5px;
    height: 50px;
    width: 100px;
  }
  .coin-image {
    height: 50px;
    width: 50px;
    animation: spinHorizontal 3s infinite linear;
  }
  h5 {
    span {
      font-size: 15px;
      color: $primary;
      text-decoration: underline;
    }
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
  }
}
@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@media (max-width: 680px) {
  div.user-stat {
    border-right: none;
  }
}
</style>