<template>
  <div>
    <div class="row justify-evenly">
      <div class="col-4">
        <q-img
          @mouseenter="editProfilePicVisible = true"
          @mouseleave="editProfilePicVisible = false"
          :src="user.photoURL"
          transition="slide-right"
          placeholder-src="statics/error-profile.jpg"
        >
          <template v-slot:default>
            <change-picture-button
              @edit="editProfilePicDialog = true"
              :isVisible="editProfilePicVisible"
            />
          </template>
          <template v-slot:error>
            <change-picture-button
              @edit="editProfilePicDialog = true"
              :isVisible="editProfilePicVisible"
            />
            <div
              class="absolute-center flex flex-center text-accent text-bold"
            >Profile picture not set!</div>
          </template>
          <template v-slot:loading>
            <q-spinner-gears color="primary" />
          </template>
        </q-img>
      </div>
      <div class="col"></div>
      <div class="col-7">
        <h5>{{ user.displayName }}</h5>
        <h6>
          <span>E-mail:</span>
          {{ user.email }}
        </h6>
        <div class="row justify-evenly">
          <div class="col-6">
            <h6>
              <span>Created at:</span>
              <br />
              {{ userCreatedAt }}
            </h6>
          </div>
          <div class="col-6">
            <h6>
              <span>Last logged:</span>
              <br />
              {{ userLastLoggedIn }}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <q-dialog v-model="editProfilePicDialog">
      <user-data-edit-card
        :propertyValue="isBase64"
        propertyName="photoURL"
        @confirm="editUserData"
      >Updating profile picture</user-data-edit-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["user", "userId", "isFile"],
  data() {
    return {
      editProfilePicVisible: false,
      editProfilePicDialog: false
    };
  },
  computed: {
    isBase64() {
      if (!this.user) return "";
      return this.user.photoURL.includes("data:image")
        ? ""
        : this.user.photoURL;
    },
    userCreatedAt() {
      return this.formatProfileDate(this.user.createdAt);
    },
    userLastLoggedIn() {
      return this.formatProfileDate(this.user.lastLoginAt);
    }
  },
  methods: {
    ...mapActions("users", ["updateUser"]),
    formatProfileDate(dateParam) {
      let date = new Date(dateParam);
      let days = date.getDate();
      let months = date.getMonth() + 1;
      let years = date.getFullYear();
      return days + "/" + months + "/" + years;
    },
    async editUserData({ propertyValue, propertyName }) {
      this.user[propertyName] = propertyValue;
      try {
        await this.updateUser({ uid: this.userId, updates: this.user });
        this.$q.notify({
          message: "You have succesfully changed your profile picture!",
          color: "positive",
          duration: "3500"
        });
      } catch (error) {
        this.$q.notify({
          message: "Something went wrong while updating picture. Try again!",
          color: "negative",
          duration: "3500"
        });
      }
      this.editProfilePicDialog = false;
    }
  },
  components: {
    "change-picture-button": () => import("../util/ChangePictureButton"),
    "user-data-edit-card": () => import("../util/UserDataEditCard")
  }
};
</script>

<style lang="scss" scoped>
.new-profile-card {
  width: 70%;
  color: $accent;
  background: $dark;
  opacity: 0.85;

  div.add-task-title {
    font-size: 24px;
    text-decoration: underline;
  }
}

.q-img {
  border-radius: 5px;
  border: 1px solid $primary;
  height: 100%;
  max-width: 150px;
  div {
    height: 45px;
    width: 35px;
    color: $primary;
  }
}

.q-banner {
  text-align: center;
}
h3 {
  color: $accent;
  box-shadow: 0px 16px 10px -5px rgba(239, 184, 93, 0.94);
  font-size: 30px;
  margin: 0 0 10px 0;
  padding: 0;
}
h5 {
  text-align: center;
  margin: 0px 0px 5px 10px;
  color: $primary;
}
h6 {
  margin: 0px 0px 5px 10px;
  word-break: break-word;
  color: $accent;
  span {
    color: $primary;
  }
}
</style>