<template>
  <div class="user-data-chart">
    <pie-chart v-if="userChartData" :chart-data="userChartData"></pie-chart>
  </div>
</template>

<script>
import PieChart from "../util/PieChart.js";
import { colors } from "quasar";
import { loggedUser } from "../../firebase/firebaseConfig";
export default {
  data() {
    return {
      userChartData: null
    };
  },
  async mounted() {
    const user = await loggedUser();
    this.fillChartData(user.data);
  },
  methods: {
    fillChartData(user) {
      let mainColors = {
        primary: colors.getBrand("primary"),
        positive: colors.getBrand("positive"),
        accent: colors.getBrand("accent"),
        negative: colors.getBrand("negative")
      };
      this.userChartData = {
        labels: [
          "25 coin tasks",
          "10 coin tasks",
          "5 coin tasks",
          "Tasks with no coins earned"
        ],
        datasets: [
          {
            hoverBorderWidth: "3",
            borderColor: mainColors.accent,
            backgroundColor: [
              mainColors.positive,
              mainColors.primary,
              mainColors.accent,
              mainColors.negative
            ],
            data: [
              user.coinNumber25,
              user.coinNumber10,
              user.coinNumber5,
              user.coinNumber0
            ]
          }
        ]
      };
    }
  },
  components: {
    "pie-chart": PieChart
  }
};
</script>

<style lang="scss" scoped>
div.user-data-chart {
  margin: 15px;
}
</style>