<template>
  <div class="row last-task">
    <div class="col-12">
      <q-icon name="update" size="50px">
        <tool-tip
          anchor="top right"
          selfPostion="bottom right"
          :delay="200"
        >Your last completed task</tool-tip>
      </q-icon>
    </div>
    <div class="col-12">
      <h5>
        <span>Task name:</span>
        {{ task.name}}
      </h5>
      <h5>
        <span>Date of completion:</span>
        {{completionDate}}
      </h5>
      <h5>
        <span>Coin value:</span>
        {{ task.coinValue }}
      </h5>
    </div>
  </div>
</template>
<script>
import { date } from "quasar";
export default {
  props: ["task"],
  data() {
    return {
      tooltipOpen: false
    };
  },
  computed: {
    completionDate() {
      let d = new Date(parseInt(this.task.completionDate));
      return date.formatDate(d, "DD/MM/YYYY - HH:mm");
    }
  },
  components: {
    "tool-tip": () => import("../util/ToolTip")
  }
};
</script>

<style lang="scss" scoped>
.last-task {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $accent;
  .q-icon {
    margin-bottom: 0;
  }
  h5 {
    span {
      font-size: 15px;
      color: $primary;
      text-decoration: underline;
    }
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
  }
}
</style>