<template>
  <div class="row" v-if="user">
    <div class="col-12">
      <div class="row justify-evenly stats-cards">
        <div class="col-4">
          <user-task-stats :stats="statsObject" />
        </div>
        <div class="col-4">
          <user-last-task :task="user.lastFinishedTask" />
        </div>
        <div class="col-4">
          <user-fastest-task :task="user.fastestCompletedTask" />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <user-chart />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["user", "userId"],
  data() {
    return {};
  },
  computed: {
    statsObject() {
      let { title, totalNumTasksCompleted, totalScore } = this.user;
      return {
        title,
        totalScore,
        totalNumTasksCompleted
      };
    }
  },
  methods: {},
  components: {
    "user-last-task": () => import("./UserLastFinishedTask"),
    "user-fastest-task": () => import("./UserFastestCompletedTask"),
    "user-task-stats": () => import("./UserTasksStat"),
    "user-chart": () => import("./UserDataChart")
  }
};
</script>

<style lang="scss" scoped>
.stats-cards {
  border: 1px solid $accent;
  border-radius: 9px;
  padding-left: 0.5em;
  background: rgba($color: $dark, $alpha: 0.6);
  div {
    font-size: 17px;
    color: $accent;
    text-align: center;
    padding: 0;
    padding-right: 5px;
  }
}
@media (max-width: 680px) {
  .col-4,
  .col-6 {
    width: 100%;
    text-align: center;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
  .col-4:last-child {
    border: none;
  }
}
</style>