<template>
  <div class="row fastest-task">
    <div class="col-12">
      <q-icon name="speed" size="50px">
        <tool-tip
          anchor="top right"
          selfPostion="bottom right"
          :delay="200"
        >Your fastest completed task</tool-tip>
      </q-icon>
    </div>
    <div class="col-12">
      <h5>
        <span>Task name:</span>
        {{ task.name}}
      </h5>
      <h5>
        <span>Time for completion:</span>
        {{ completionTime }}
      </h5>
      <h5>
        <span>Coin value:</span>
        {{ task.coinValue }}
      </h5>
    </div>
  </div>
</template>
<script>
export default {
  props: ["task"],
  data() {
    return {};
  },
  computed: {
    completionTime() {
      let timeInMinutes = this.task.timeForCompletion;
      let hours = Math.floor(timeInMinutes / 60);
      let minutes = timeInMinutes - hours * 60;
      let days = Math.floor(hours / 24);
      hours = hours - days * 24;
      return (
        (days !== 0 ? days + " days " : "") +
        (hours !== 0 ? hours + (hours == 1 ? " hour " : " hours ") : "") +
        minutes +
        " minutes"
      );
    }
  },
  components: {
    "tool-tip": () => import("../util/ToolTip")
  }
};
</script>
<style lang="scss" scoped>
.fastest-task {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $accent;
  .q-icon {
    margin-bottom: 0;
  }
  h5 {
    span {
      font-size: 15px;
      color: $primary;
      text-decoration: underline;
    }
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
  }
}
</style>