<template>
  <q-card class="delete-task-dialog">
    <q-card-section class="row items-center">
      <q-avatar icon="info" color="dark" text-color="negative" />
      <span class="q-ml-sm">Are you sure you want to delete this task?</span>
    </q-card-section>

    <q-card-actions align="right">
      <q-btn flat label="Cancel" color="accent" v-close-popup />
      <q-btn @click.stop="$emit('delete')" flat label="Delete Task" color="negative" v-close-popup />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.delete-task-dialog {
  opacity: 0.9;
  background: $dark;
  color: $accent;
}
</style>

