<template>
  <q-card class="newtask-card" style="min-width: 350px">
    <q-card-section>
      <div class="row justify-center">
        <div style="text-align: center;" class="col-12 add-task-title">{{ taskCardHeader}}</div>
      </div>
    </q-card-section>
    <q-form
      ref="formtask"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
    >
      <q-card-section>
        <div class="row">
          <q-input
            autofocus
            v-model="currentTask.name"
            class="col-12"
            dark
            outlined
            label="Name of the new task"
            :rules="[val => !!val || 'Name of the task is required']"
          >
            <template v-slot:append>
              <q-icon
                v-if="currentTask.name"
                name="close"
                @click="currentTask.name = ''"
                class="cursor-pointer"
              />
            </template>
          </q-input>
        </div>
      </q-card-section>
      <q-card-section v-if="currentTask.name.length">
        <div class="row">
          <div class="col-6">
            <q-input
              :rules="[val => !!val || 'Due date of the task is required',
                      val => isValidDate || 'Invalid date format, required DD/MM/YYYY']"
              v-model="currentTask.dueDate"
              outlined
              dark
              label="Task due date"
            >
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date dark v-model="currentTask.dueDate" :mask="dueDateFormatMask" />
                  </q-popup-proxy>
                </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="currentTask.dueDate"
                  name="close"
                  @click="currentTask.dueDate = ''"
                  class="cursor-pointer"
                />
              </template>
            </q-input>
          </div>
          <div class="col-6">
            <q-input
              v-model="currentTask.dueTime"
              :rules="[val => !!val || 'Due time of the task is required',
                      val => isValidTime || 'Invalid time format, required HH:mm']"
              outlined
              dark
              label="Task due time"
            >
              <template v-slot:prepend>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time dark v-model="currentTask.dueTime" :mask="dueTimeFormatMask" format24h />
                  </q-popup-proxy>
                </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="currentTask.dueTime"
                  name="close"
                  @click="currentTask.dueTime = ''"
                  class="cursor-pointer"
                />
              </template>
            </q-input>
          </div>
        </div>
      </q-card-section>
      <q-card-section
        class="task-coin-card"
        v-if="currentTask.name.length && currentTask.dueDate.length && currentTask.dueTime.length"
      >
        <h6>Choose the value of your task based on difficulty</h6>
        <div class="task-coin-values">
          <q-radio dark v-model="currentTask.coinValue" :val="25" size="80px" label="25" />
          <q-radio dark v-model="currentTask.coinValue" :val="10" size="80px" label="10" />
          <q-radio dark v-model="currentTask.coinValue" :val="5" size="80px" label="5" />
        </div>
      </q-card-section>
      <q-card-section
        v-if="currentTask.name.length && currentTask.dueDate.length && currentTask.dueTime.length && currentTask.coinValue"
      >
        <h6>Enter task details</h6>
        <q-editor
          label="Enter task description:"
          v-model="currentTask.details"
          dark
          @paste.native="evt => pasteCapture(evt)"
          @drop.native="evt => dropCapture(evt)"
          content-class="bg-gray text-accent"
          toolbar-text-color="dark"
          toolbar-push
          toolbar-toggle-color="accent"
          toolbar-toggle-bg="dark"
          toolbar-bg="primary"
          :toolbar="[
        ['bold', 'italic', 'underline','strike'],
        [{
            label: $q.lang.editor.align,
            icon: $q.iconSet.editor.align,
            fixedLabel: true,
            list: 'only-icons',
            options: ['left', 'center', 'right', 'justify']
          },'ordered','unordered','quote'],
        ['undo','redo'],
        [{
          label: $q.lang.editor.formatting,
          icon: $q.iconSet.editor.formatting,
          list: 'no-icons',
          options: ['p', 'h3', 'h4', 'h5', 'h6', 'code']
        },
        {
            label: $q.lang.editor.fontSize,
            icon: $q.iconSet.editor.fontSize,
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'size-1',
              'size-2',
              'size-3',
              'size-4',
              'size-5',
              'size-6',
              'size-7'
            ]
          }]
      ]"
        />
      </q-card-section>
      <q-separator color="primary" />
      <q-card-actions align="center" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup />
        <q-btn
          label="Reset"
          @click="resetValidation()"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
        <q-btn v-if="add" type="submit" flat :label="taskOption" @click.prevent="addingTask()" />
        <q-btn v-else type="submit" flat :label="taskOption" @click.prevent="editingTask()" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { uid, date } from "quasar";
import { mapActions } from "vuex";

export default {
  props: ["task", "add", "id"],
  data() {
    return {
      editor: "Enter your task details and plans for finishing...",
      currentTask: Object.assign({}, this.task),
      taskCardHeader: this.add
        ? "Add new To-Do Task:"
        : `Editing Task: ${this.task.name}`,
      dueDateFormatMask: "DD/MM/YYYY",
      dueTimeFormatMask: "HH:mm"
    };
  },
  computed: {
    taskOption() {
      return this.add ? "Add Task" : "Save Task";
    },
    isValidDate() {
      const dueDate = this.currentTask.dueDate;
      const newDate = date.extractDate(dueDate, this.dueDateFormatMask);
      date.isValid(newDate);
      if (
        dueDate.length != 10 ||
        !newDate.getDate() ||
        !newDate.getMonth() ||
        !newDate.getFullYear()
      )
        return false;
      return true;
    },
    isValidTime() {
      const dueTime = this.currentTask.dueTime;
      if (dueTime.length != 5 || dueTime.charAt(2) !== ":") return false;
      const hours = parseInt(dueTime.substring(0, 2));
      const minutes = parseInt(dueTime.substring(3, 5));
      if (hours > 24 || minutes > 60) return false;
      return true;
    }
  },
  methods: {
    ...mapActions("tasks", ["addTask", "updateTask"]),
    async addingTask() {
      const success = await this.$refs.formtask.validate();
      if (success) {
        this.currentTask.createdDate = new Date().getTime();
        await this.addTask(this.currentTask);
        this.$emit("close", this.currentTask);
      } else {
        this.$emit("shake");
        console.warn("At least one invalid value");
      }
    },
    async editingTask() {
      const success = await this.$refs.formtask.validate();
      if (success) {
        await this.updateTask({ id: this.id, updates: this.currentTask });
        this.$emit("close", this.currentTask);
      } else {
        this.$emit("shake");
        console.warn("At least one invalid value");
      }
    },
    resetValidation() {
      this.$refs.formtask.resetValidation();
      this.currentTask.name = "";
      this.currentTask.completed = false;
      this.currentTask.dueDate = "";
      this.currentTask.dueTime = "";
      this.currentTask.details = "";
    }
  }
};
</script>

<style lang="scss" scoped>
.newtask-card {
  width: 100%;
  color: $primary;
  background: $dark;
  opacity: 0.9;

  div.add-task-title {
    font-size: 24px;
    text-decoration: underline;
  }
}
h6 {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  font-style: italic;
  color: $primary;
  margin-top: -20px;
  margin-bottom: 15px;
}
.task-coin-card {
  padding: 10px;
  .task-coin-values {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    div {
      height: 25px;
      padding: 0;
      margin-left: -1em;
      color: $primary;
      font-weight: bolder;
      font-size: 30px;
      font-style: italic;
      text-decoration: overline underline;
      text-decoration-color: lightgray;
    }
  }
}
</style>