<template>
  <q-card class="task-details-dialog">
    <q-card-section class="row items-center">
      <div class="col-12 text-center">
        <h4>Task details</h4>
      </div>
      <div class="task-details-dialog-content" v-html="details"></div>
    </q-card-section>
  </q-card>
</template>
<script>
export default {
  props: ["details"]
};
</script>
<style lang="scss" scoped>
.task-details-dialog {
  width: 100%;
  background: rgba($color: $dark, $alpha: 0.7);
  color: $accent;
  h4 {
    margin: 2px 0;
  }
}
.task-details-dialog-content {
  border: 1px solid $primary;
  border-radius: 9px;
  background: rgba($color: $dark, $alpha: 0.6);
  width: 100%;
  margin: auto;
  padding: 5px;
}
</style>