<template>
  <transition-group
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <q-item
      :class="task.completed ? 'bg-positive' : 'bg-accent' + ' items-center'"
      :key="id"
      :style="{'opacity' : '0.92'}"
      v-ripple
      clickable
      @click.stop="openTaskDetails"
    >
      <q-item-section side top>
        <q-checkbox @input="completingTask" v-model="task.completed"></q-checkbox>
      </q-item-section>

      <q-item-section>
        <q-item-label
          style="font-weight: bolder; font-size: 16px"
          :class="{'text-strikethrough' : task.completed}"
        >{{ task.name }}</q-item-label>
      </q-item-section>

      <q-item-section side top>
        <div class="row">
          <div class="column justify-center">
            <q-icon color="primary" size="19px" class="q-mr-xs" name="events"></q-icon>
          </div>
          <div class="todo-datetime">
            <q-item-label color class="row justify-end" caption>{{ task.dueDate }}</q-item-label>
            <q-item-label class="row justify-end" caption>{{ task.dueTime}}</q-item-label>
          </div>
          <div class="column" v-if="!task.completed">
            <q-btn @click.stop="openEditTaskDialog()" icon="edit" dense flat rounded color="dark" />
            <q-dialog v-model="showEditTask" persistent>
              <task-form :task="task" :id="id" :add="false" @close="closeEditTaskDialog" />
            </q-dialog>
          </div>
          <div class="column">
            <q-btn
              @click.stop="confirmDeleteTask = !confirmDeleteTask"
              icon="delete_forever"
              flat
              rounded
              color="negative"
            />
            <q-dialog v-model="confirmDeleteTask" persistent>
              <task-delete-card @delete="deleteTaskMethod(id)" />
            </q-dialog>
            <q-dialog v-model="showTaskDetails">
              <task-details-show :details="task.details" />
            </q-dialog>
          </div>
        </div>
      </q-item-section>
    </q-item>
  </transition-group>
</template>

<script>
import { mapActions } from "vuex";
import { date } from "quasar";
import {
  scheduleNotification,
  taskNotificationObject
} from "../../functions/cordova-notifications";
import { loggedUser } from "../../firebase/firebaseConfig";
export default {
  props: ["task", "id"],
  data() {
    return {
      confirmDeleteTask: false,
      showTaskDetails: false,
      showEditTask: false
    };
  },
  methods: {
    ...mapActions("tasks", ["deleteTask", "updateTask"]),
    ...mapActions("users", ["updateUser"]),
    openTaskDetails() {
      this.showTaskDetails = true;
    },
    deleteTaskMethod(id) {
      this.deleteTask(id);
    },
    openEditTaskDialog() {
      this.showEditTask = true;
    },
    closeEditTaskDialog(task) {
      // Za sad nakon svakog editovanja zakazuje notifikaciju
      // Podesiti da samo zakazuje ako su mu razliciti datumi u odnosu na prosli put
      let isCordova = this.$q.platform.is.cordova;
      if (isCordova) {
        let notifId = parseInt(Math.random() * 1000) * 371;
        let notifTask = taskNotificationObject(task, notifId);
        scheduleNotification(notifTask);
      }
      this.showEditTask = false;
    },
    async completingTask(isCompleted) {
      if (isCompleted) this.task.finishedDate = new Date().getTime();
      this.updateTask({ id: this.id, updates: this.task });
      let user = await loggedUser();
      await this.updateUserTaskData(user, this.task.coinValue, isCompleted);
    },
    async updateUserTaskData(user, coinValue, isCompleted) {
      const totalScore = this.userTotalScore(user, coinValue, isCompleted);
      const fastestCompletedTask = this.userFastestCompletedTask(
        user,
        isCompleted
      );
      const lastFinishedTask = this.userLastTaskData(user, isCompleted);
      const totalNumTasksCompleted = this.userTotalNumTasks(user, isCompleted);
      const title = this.userTitle(totalScore);
      const updates = {
        title,
        totalScore,
        fastestCompletedTask,
        lastFinishedTask,
        totalNumTasksCompleted
      };
      coinValue = this.isPastDeadline(coinValue);
      updates[`coinNumber${coinValue}`] = this.userCoinNumber(
        user,
        coinValue,
        isCompleted
      );
      this.updateUser({ uid: user.uid, updates });
    },
    isPastDeadline(coinVal) {
      let finished = new Date(this.task.finishedDate);
      let dateExtractString = `${this.task.dueDate} - ${this.task.dueTime}`;
      let dateExtractMask = "DD/MM/YYYY - HH:mm";
      let deadline = date.extractDate(dateExtractString, dateExtractMask);
      if (finished <= deadline) return coinVal;
      return 0;
    },
    userTitle(totalScore) {
      return totalScore < 5000
        ? "Ronin"
        : totalScore < 10000
        ? "Samurai"
        : "Mugen";
    },
    userTotalNumTasks(user, isCompleted) {
      let totalNum = user.data.totalNumTasksCompleted;
      return isCompleted ? totalNum + 1 : totalNum - 1;
    },
    userCoinNumber(user, coinValue, isCompleted) {
      let currentValue = user.data[`coinNumber${coinValue}`];
      currentValue = isCompleted ? (currentValue += 1) : (currentValue -= 1);
      return currentValue;
    },
    userTotalScore(user, coinValue, isCompleted) {
      return isCompleted
        ? user.data.totalScore + coinValue
        : user.data.totalScore - coinValue;
    },
    userFastestCompletedTask(user, isCompleted) {
      let currentFastest = user.data.fastestCompletedTask;
      if (isCompleted) {
        let diffCompletedCreated = date.getDateDiff(
          new Date(),
          new Date(this.task.createdDate),
          "minutes"
        );
        if (currentFastest.timeForCompletion > diffCompletedCreated) {
          currentFastest = {
            id: this.id,
            coinValue: this.task.coinValue,
            timeForCompletion: diffCompletedCreated,
            name: this.task.name
          };
        }
      }
      return currentFastest;
    },
    userLastTaskData(user, isCompleted) {
      let currentLast = user.data.lastFinishedTask;
      if (isCompleted) {
        currentLast = {
          id: this.id,
          coinValue: this.task.coinValue,
          completionDate: new Date().getTime(),
          name: this.task.name
        };
      }
      return currentLast;
    }
  },
  components: {
    "task-form": () => import("components/Tasks/TaskForm"),
    "task-delete-card": () => import("components/Tasks/TaskDeleteDialog"),
    "task-details-show": () => import("components/Tasks/TaskDetailsShow")
  }
};
</script>

<style lang="scss" scoped>
.task-details-dialog {
  width: 100%;
  background: rgba($color: $dark, $alpha: 0.9);
  color: $accent;
  h4 {
    margin: 2px 0;
  }
}
.task-details-dialog-content {
  border: 1px solid $primary;
  border-radius: 9px;
  background: rgba($color: $dark, $alpha: 0.75);
  width: 100%;
  margin: auto;
  padding: 5px;
}
.q-item {
  border-radius: 5px;
  box-shadow: -4px 0px 7px 0px #000000;
}
div.todo-datetime {
  .q-item__label {
    font-size: 14px;
    font-weight: bolder;
    color: $dark;
  }
}
</style>