<template>
  <div class="error-todo fixed-center text-center bg-accent">
    <p></p>
    <p class="text-faded">
      You are on a wrong page!!!
      <strong>(404)</strong>
    </p>
    <q-btn color="secondary" style="width:200px;" to="/" label="Go back" />
  </div>
</template>

<script>
export default {
  name: "Error404"
};
</script>

<style scoped>
</style>
