<template>
  <q-page class="q-pa-md">
    <q-banner
      v-if="!Object.keys(tasks).length"
      class="unfinished-tasks list-header q-mb-lg"
      inline-actions
      rounded
      color="primary"
    >
      No tasks to-do today!
      <template v-slot:action>
        <q-btn
          style="font-weight: bolder;"
          color="primary"
          flat
          label="Add New Task"
          @click="openAddTaskDialog()"
        />
      </template>
      <template v-slot:avatar>
        <q-icon name="library_add_check" color="primary" />
      </template>
    </q-banner>

    <q-list separator v-if="Object.keys(tasks).length">
      <q-banner class="unfinished-tasks list-header" inline-actions rounded>Unfinished tasks</q-banner>
      <task v-for="(task,key) in tasks" :key="key" :id="key" :task="task" />
    </q-list>

    <q-list class="completed-tasks-list" separator v-if="Object.keys(completedTasks).length">
      <q-banner class="list-header completed-tasks" inline-actions rounded>Completed tasks</q-banner>
      <task v-for="(task,key) in completedTasks" :key="key" :id="key" :task="task" />
    </q-list>

    <!-- Only shows on first load while the tasks are being loaded -->
    <loading-tasks v-if="!isLoaded" />

    <div class="absolute-bottom text-center q-mb-lg">
      <q-btn size="25px" @click="openAddTaskDialog()" push round color="accent" icon="add" />
    </div>

    <q-dialog v-model="showAddTask" persistent>
      <task-form :task="newTask" :add="true" @close="closeAddTaskDialog" />
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { loggedUser, authUser } from "../firebase/firebaseConfig";
import {
  scheduleNotification,
  scheduleMultipleNotifications,
  taskNotificationObject,
  setDefaultNotificationSettings
} from "../functions/cordova-notifications";

export default {
  data() {
    return {
      showAddTask: false,
      isLoaded: false,
      newTask: {}
    };
  },
  computed: {
    ...mapGetters("tasks", ["tasks", "completedTasks"]),
    loggedUserId() {
      let user = authUser();
      return user != null ? user.uid : "";
    }
  },
  methods: {
    ...mapActions("tasks", ["loadTasks"]),
    openAddTaskDialog() {
      this.showAddTask = !this.showAddTask;
      this.newTask = {
        name: "",
        completed: false,
        createdDate: "",
        finishedDate: "",
        dueDate: "",
        dueTime: "",
        details: "",
        coinValue: 5,
        userId: this.loggedUserId
      };
    },
    closeAddTaskDialog(task) {
      let isCordova = this.$q.platform.is.cordova;
      if (isCordova) {
        let notifId = parseInt(Math.random() * 1000) * 371;
        let taskNotif = taskNotificationObject(task, notifId);
        scheduleNotification(taskNotif);
      }
      this.showAddTask = false;
    },
    taskNotifications() {
      //Fired only after deviceready event has been fired
      let notifications = [];
      let id = 0;
      Object.keys(this.tasks).forEach(key => {
        let task = this.tasks[key];
        if (task.completed) return;
        let taskObj = taskNotificationObject(task, id++);
        notifications.push(taskObj);
      });
      scheduleMultipleNotifications(notifications);
    }
  },
  components: {
    task: () => import("components/Tasks/Task"),
    "task-form": () => import("components/Tasks/TaskForm"),
    "loading-tasks": () => import("components/Loading")
  },
  mounted() {
    if (
      Object.keys(this.tasks).length ||
      Object.keys(this.completedTasks).length
    ) {
      this.isLoaded = true;
    } else {
      loggedUser().then(user => {
        this.loadTasks(user)
          .then(tasks => {
            this.isLoaded = true;
            // Only add phone notifications if there are
            let isCordova = this.$q.platform.is.cordova;
            if (isCordova) {
              document.addEventListener(
                "deviceready",
                this.taskNotifications,
                false
              );
              setDefaultNotificationSettings({
                led: { color: "#EFB85D" },
                vibrate: true,
                color: "#FF6501"
              });
            }
          })
          .catch(error => {
            console.log("Ovo ne bi trebalo da se desi");
          });
      });
    }
  }
};
</script>

<style lang="scss">
.q-list.completed-tasks-list {
  margin-top: 10px;
}

.q-banner.completed-tasks,
.q-banner.unfinished-tasks {
  box-shadow: -11px 0px 6px 0px rgba($color: $dark, $alpha: 0.82);
  border-radius: 5px;
  background: rgba($color: $dark, $alpha: 0.95);
  text-align: center;
  div.text-body2 {
    font-size: 30px;
    font-weight: bolder;
  }
}
.q-banner.completed-tasks {
  color: $positive;
}
.q-banner.unfinished-tasks {
  color: $accent;
}
</style>