<template>
  <q-page class="q-pa-md">
    <div class="user-data">
      <user-data :user="user" :userId="userId" />
    </div>
    <div class="user-statistics">
      <h4>User task statistics</h4>
      <user-statistics :user="user" :userId="userId" />
    </div>
  </q-page>
</template>

<script>
import { authUser } from "../firebase/firebaseConfig";
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      user: "",
      userId: ""
    };
  },
  computed: {
    ...mapGetters("users", ["getUser"])
  },
  methods: {
    ...mapActions("users", ["loadRegisteredUser"])
  },
  beforeMount() {
    this.userId = authUser().uid;
    let userState = this.getUser(this.userId);
    if (!userState) {
      this.loadRegisteredUser(this.userId).then(() => {
        userState = this.getUser(this.userId);
        this.user = userState;
      });
    } else {
      this.user = userState;
    }
  },
  components: {
    "user-data": () => import("../components/user/UserData"),
    "user-statistics": () => import("../components/user/UserStatistics")
  }
};
</script>

<style lang="scss" scoped>
.q-page {
  div.user-data,
  div.user-statistics {
    box-shadow: -5px 3px 14px 5px rgba($color: $dark, $alpha: 0.9);
    padding: 5px;
    border-radius: 6px;
    background: rgba($color: $dark, $alpha: 0.85);
  }
  div.user-statistics {
    h4 {
      color: $primary;
      margin: 5px;
      text-align: center;
      text-decoration: underline;
      text-decoration-color: $accent;
    }
    margin-top: 10px;
    box-shadow: -3px 5px 18px 3px rgba($color: $dark, $alpha: 0.9);
  }
}
</style>