<template>
  <q-page class="q-pa-md">
    <div>
      <user-chart />
    </div>
  </q-page>
</template>

<script>
export default {
  components: {
    "user-chart": () => import("../components/user/UserDataChart")
  }
};
</script>

<style lang="scss">
</style>