<template>
  <q-img
    alt="Loading tasks...."
    transition="slide-down"
    src="https://media.giphy.com/media/hhPHDEOcB20w0/giphy.gif"
    ratio="1"
    spinner-color="primary"
    class="rounded-borders"
    :style="styleObject"
  >
    <div class="absolute-center text-center text-body3 text-color3">
      <q-spinner-pie color="deep-orange" size="40" />
      <p>Loading tasks</p>
    </div>
  </q-img>
</template>

<script>
export default {
  data() {
    return {
      styleObject: {
        border: "2px solid $dark",
        boxShadow: "-5px 3px 14px 5px rgba($color: $dark, $alpha:0.91)"
      }
    };
  }
};
</script>

<style lang="scss" scoped>
.q-img {
  width: 100%;
  height: 350px;
  div {
    border-radius: 8px;
    color: $primary;
    font-size: 30px;
  }
}
</style>