// app global css in SCSS form

// GLOBAL SCROLL SETTINGS
*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba($color: $dark, $alpha: 0.9);
  background-color: $dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $accent;
  outline: 1px solid $accent;
  border-radius: 3px;
}

* {
  font-family: "Times New Roman", Times, serif;
}
