// src/css/quasar.variables.scss

$primary: #ff6501;
$secondary: #c15725;
$accent: #efb85d;

$dark: #131212;

$positive: #41b883;
$negative: #d91900;
$info: #f75c0f;
$warning: #da3300;

$transition: 1 linear;
