<template>
  <q-page-container>
    <q-page>
      <div class="sign-in-container fixed-center">
        <q-card class="signin-card" style="min-width: 350px">
          <q-card-section>
            <div class="row justify-center">
              <div style="text-align: center;" class="col-12 add-task-title">{{ signInHeader}}</div>
            </div>
            <log-in-section
              @register="loginForm = false"
              @logIn="loginForm = true"
              @loggedIn="$emit('loggedIn')"
              v-if="loginForm"
            />
            <register-section @logIn="loginForm = true" v-else />
          </q-card-section>
        </q-card>
      </div>
    </q-page>
  </q-page-container>
</template>

<script>
export default {
  data() {
    return {
      loginForm: true
    };
  },
  computed: {
    signInHeader() {
      return this.loginForm ? "Log-in form" : "Registration form";
    }
  },
  components: {
    "log-in-section": () => import("./LogIn"),
    "register-section": () => import("./Register")
  }
};
</script>

<style lang="scss" scoped>
.q-page {
  background: url("../../statics/todo-cover.png") !important;
  background-color: rgba(44, 42, 42, 0.89) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  div.sign-in-container {
    box-shadow: 0px 0px 13px 9px #c15725;
    border: 2px solid #c15725;
    border-radius: 8px;
    background: rgba($color: $dark, $alpha: 0.7);
    width: 500px;
    .signin-card {
      width: 100%;
      height: 100%;
      color: $accent;
      background: rgba($color: $dark, $alpha: 0.8);

      div.add-task-title {
        font-size: 24px;
      }
    }
  }
}
</style>