<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <q-btn v-if="isVisible" @click="$emit('edit')" class="text-primary" icon="edit">
      <tool-tip
        anchor="top middle"
        selfPosition="center middle"
        :delay="100"
      >Change your profile picture</tool-tip>
    </q-btn>
  </transition>
</template>
<script>
export default {
  props: ["isVisible"],
  components: {
    "tool-tip": () => import("./ToolTip")
  }
};
</script>

<style lang="scss" scoped>
.q-btn {
  background: rgba($color: $dark, $alpha: 0.9);
  width: 30px;
  height: 40px;
  text-align: center;
  z-index: 10;
}
</style>