<template>
  <q-card class="new-profile-card" style="min-width: 350px">
    <q-card-section>
      <div class="row justify-center">
        <div style="text-align: center;" class="col-12 add-task-title">
          <slot></slot>
        </div>
      </div>
    </q-card-section>
    <q-toggle v-model="selectFile" :label="toggleLabel" v-if="propertyName === 'photoURL'" />
    <q-card-section v-if="!selectFile">
      <div class="row">
        <q-input
          autofocus
          v-model="newValue"
          class="col-12"
          dark
          label="URL to the new profile image"
        >
          <template v-slot:append>
            <q-icon v-if="newValue" name="close" @click="newValue = ''" class="cursor-pointer" />
          </template>
        </q-input>
      </div>
    </q-card-section>
    <q-card-section v-if="propertyName === 'photoURL' && selectFile">
      <div class="row">
        <q-file
          label-color="dark"
          bg-color="accent"
          color="dark"
          standout
          outlined
          v-model="imageFile"
          @input="imageBase64fromFile"
          label="Pick a file of your new profile image"
          :filter="checkFileType"
        />
      </div>
    </q-card-section>
    <q-card-actions align="center" class="text-primary">
      <q-btn flat label="Cancel" v-close-popup />
      <q-btn flat label="Confirm" @click="updateValue" />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  props: ["propertyValue", "propertyName"],
  data() {
    return {
      newValue: this.propertyValue,
      selectFile: false,
      imageFile: null,
      imageFileURL: ""
    };
  },
  computed: {
    toggleLabel() {
      return this.selectFile
        ? "Toggle to select image by entering URL"
        : "Toggle to select image from a file";
    }
  },
  methods: {
    updateValue() {
      if (this.selectFile) {
        this.imageFromFile();
      }
      this.$emit("confirm", {
        propertyValue: this.newValue,
        propertyName: this.propertyName
      });
    },
    imageFromFile() {
      if (this.imageFile != null) {
        if (this.imageFileURL == "") {
          this.$q.notify({
            message: "Something wrong while converting image to URL",
            color: "negative",
            duration: "5000"
          });
          return;
        } else {
          this.newValue = this.imageFileURL;
        }
      }
    },
    imageBase64fromFile(value) {
      let URL = "";
      let previewImage = null;
      const reader = new FileReader();
      reader.readAsDataURL(this.imageFile);
      reader.onload = event => {
        this.imageFileURL = event.target.result;
      };
    },
    checkFileType(files) {
      let imgReg = /image\/(.)+/;
      let filtered = files.filter(file => imgReg.test(file.type));
      if (!filtered.length) {
        this.$q.notify({
          message: "Image not selected! You can only select image type files.",
          color: "info",
          duration: "5000"
        });
      } else {
        this.$q.notify({
          message: "You successfully picked an image",
          color: "positive",
          duration: "5000"
        });
      }
      return filtered;
    }
  }
};
</script>

<style lang="scss" scoped>
.new-profile-card {
  width: 70%;
  color: $accent;
  background: $dark;
  opacity: 0.85;

  div.add-task-title {
    font-size: 24px;
    text-decoration: underline;
  }
}
</style>