<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style lang="scss">
.text-strikethrough {
  text-decoration: line-through;
}
</style>
