<template>
  <q-layout view="hHh lpR fFf" v-if="isLoggedUser">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title color="dark" class="todo-title absolute-center">To-Doit</q-toolbar-title>
        <q-btn
          @click="signOut()"
          round
          color="negative"
          dense
          icon="lock_open"
          class="q-mr-sm text-black"
        >
          <tool-tip
            anchor="bottom middle"
            selfPosition="bottom right"
            :delay="200"
          >Sign-Out from your account</tool-tip>
        </q-btn>
        <q-avatar>
          <img src="statics/logo.png" />
        </q-avatar>
      </q-toolbar>
    </q-header>

    <q-footer
      :style="this.$q.platform.is.cordova ? {display: 'flex',
  justifyContent: 'space-evenly'} : {}"
    >
      <q-tabs>
        <q-route-tab
          v-for="item in navs"
          :key="item.label"
          :to="item.to"
          :label="item.label"
          :icon="item.icon"
        ></q-route-tab>
      </q-tabs>
    </q-footer>

    <q-drawer
      :width="256"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-primary"
      :breakpoint="767"
    >
      <q-list dark>
        <q-item-label class="navigation-title" header>Navigation</q-item-label>
        <q-item v-for="item in navs" :key="item.label" clickable :to="item.to" exact>
          <q-item-section avatar>
            <q-icon :name="item.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ item.label }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- Only if user is not logged in -->
  </q-layout>
  <!-- Sign-in form layout to render if  user is not logged or registered into the application -->
  <q-layout view="hHh lpR fFf" v-else>
    <sign-in @loggedIn="isLoggedUser = true" />
  </q-layout>
</template>

<script>
import { mapActions } from "vuex";
import {
  loggedUser,
  firebaseSignOut,
  firebaseSignIn,
  signOutSession,
  authUser
} from "../firebase/firebaseConfig";
import { Loading, QSpinnerInfinity } from "quasar";

export default {
  data() {
    return {
      leftDrawerOpen: false,
      isLoggedUser: false,
      navs: [
        {
          label: "Tasks",
          icon: "list",
          to: "/"
        },
        {
          label: "Settings",
          icon: "settings",
          to: "/settings"
        },
        {
          label: "Profile",
          icon: "supervised_user_circle",
          to: "/profile"
        }
      ],
      signoutTooltipStyle: {
        color: "#ff6501",
        background: "rgba($color: $dark, $alpha:0.9)",
        fontSize: "20px",
        marginLeft: "%"
      }
    };
  },
  methods: {
    ...mapActions("tasks", ["loadTasks", "clearTasks"]),
    ...mapActions("users", ["deleteUser", "registerUser"]),
    signOut() {
      this.$q
        .dialog({
          title: "Confirm",
          title: "Are you sure you want to sign out?",
          dark: true,
          color: "primary",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            await firebaseSignOut();
            this.isLoggedUser = false;
            let deleteId = authUser().uid;
            this.clearTasks();
            signOutSession();
            this.deleteUser(deleteId);
            console.log("usepjesan sign out");
          } catch (error) {
            console.log(
              "Firebase auth ne postoji, probaj da maknes iz sessije -> " +
                error
            );
            try {
              const user = await loggedUser();
              this.isLoggedUser = false;
              this.clearTasks();
              signOutSession();
              this.deleteUser(user.uid);
            } catch (err) {
              console.log(
                "Ne moze se maci ovo govno iz sessije/cookija -> " + err
              );
            }
          }
        });
    }
  },
  created() {
    if (!this.isLoggedUser) {
      Loading.show({
        spinner: QSpinnerInfinity,
        spinnerSize: 170,
        spinnerColor: "primary",
        messageColor: "primary",
        customClass: "loading-gear",
        message: "Retrieving user data..."
      });
      loggedUser()
        .then(user => {
          this.isLoggedUser = user == null ? false : true;
          Loading.hide();
          if (user != null) {
            this.registerUser(user);
          }
        })
        .catch(error => {
          console.log("Greska u catchu za logged user-a u layout-u");
          this.isLoggedUser = false;
          Loading.hide();
        });
    }
  },
  components: {
    "sign-in": () => import("../components/Authentication/SignIn"),
    "tool-tip": () => import("../components/util/ToolTip")
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap");
.q-toolbar__title.todo-title {
  color: $dark;
  font-size: 50px;
  font-weight: bold;
  font-family: "Ma Shan Zheng", cursive;
}
.q-page.q-pa-md {
  background: url("../statics/todobackground.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
@media screen and (min-width: 750px) {
  .q-footer {
    display: none;
  }
}
.q-drawer {
  font-family: "Ma Shan Zheng", cursive;
  .q-router-link--exact-active {
    background: rgba($color: $dark, $alpha: 0.2);
    font-weight: bolder;
    font-size: 18px;
    color: $dark;
  }
}
.q-dialog.fullscreen.no-pointer-events.signin-dialog {
  background: url("../statics/todobackground.png") !important;
}

.q-list {
  .q-item__label.navigation-title.q-item__label--header.navigation-title {
    color: $dark;
    font-family: "Ma Shan Zheng", cursive;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
  }
}
.loading-gear {
  font-size: 50px;
  font-weight: bolder;
  color: $dark;
  background-image: url("../statics/todobackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba($color: $primary, $alpha: 0.7);
}

@media (max-width: 600px) {
  .q-footer {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
  }
}
</style>